<%= render "poll_header" %>

<% if @poll.polis? %>
  <div class="callout primary">
    <%= t("admin.polls.polis.info") %>
    <a href="https://pol.is/" target="_blank">
      <%= t("admin.polls.polis.link") %>
    </a>
  </div>
<% else %>
  <div id="poll-resources">
    <%= render "subnav" %>

    <%= render "questions" %>
  </div>
<% end %>
